body {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  background-color: #194119;
  font-family: "Open Sans", sans-serif;
  /* text-align: center; */
}

.header {
  text-align: center;
}

.row {
  padding-bottom: 50px;
}

.overControl {
  text-align: center;
}

